USE [master]
GO
/****** Object:  Database [QLKH_CT]    Script Date: 06/05/2021 11:14:33 ******/
CREATE DATABASE [QLKH_CT] 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKH_CT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKH_CT]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 06/05/2021 11:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](10) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[DIEMTICHLUY] [int] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_KHACHHANG_SDT] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [SDT], [TEN], [DIACHI], [DIEMTICHLUY]) VALUES (N'KH1', N'0963254125', N'Vũ Văn Minh', N'Quận 10', 1600)
INSERT [dbo].[KHACHHANG] ([MAKH], [SDT], [TEN], [DIACHI], [DIEMTICHLUY]) VALUES (N'KH10', N'0855555412', N'Lê Thúy Sang', N'Quận 9', 50)
INSERT [dbo].[KHACHHANG] ([MAKH], [SDT], [TEN], [DIACHI], [DIEMTICHLUY]) VALUES (N'KH100', N'0852365474', N'Lê Văn Tiến', N'Quận 3', 100)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[LOAIDICHVU]    Script Date: 06/05/2021 11:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIDICHVU](
	[MALOAIDV] [varchar](10) NOT NULL,
	[TENLOAIDV] [nvarchar](100) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_LOAIDICHVU] PRIMARY KEY CLUSTERED 
(
	[MALOAIDV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_LOAIDICHVU_TENLOAIDV] UNIQUE NONCLUSTERED 
(
	[TENLOAIDV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LOAIDICHVU] ([MALOAIDV], [TENLOAIDV], [TRANGTHAI]) VALUES (N'LOAI1', N'Kiểu Tóc Nam', 1)
INSERT [dbo].[LOAIDICHVU] ([MALOAIDV], [TENLOAIDV], [TRANGTHAI]) VALUES (N'LOAI2', N'Kiểu Tóc Nữ', 1)
INSERT [dbo].[LOAIDICHVU] ([MALOAIDV], [TENLOAIDV], [TRANGTHAI]) VALUES (N'LOAI3', N'Nhuộm Tóc Nam', 1)
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 06/05/2021 11:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[CMND] [varchar](12) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[GIOITINH] [nvarchar](3) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_NHANVIEN_CMND] UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_NHANVIEN_SDT] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NHANVIEN] ([MANV], [CMND], [TEN], [SDT], [GIOITINH], [DIACHI], [NGAYSINH]) VALUES (N'NV1', N'999999999', N'QUẢN LÝ', N'0979999999', N'Nam', N'Quận 9', CAST(0x07240B00 AS Date))
INSERT [dbo].[NHANVIEN] ([MANV], [CMND], [TEN], [SDT], [GIOITINH], [DIACHI], [NGAYSINH]) VALUES (N'NV2', N'241236521', N'Phạm Khánh Bình', N'0963258741', N'Nữ', N'Quận 9', CAST(0x22250B00 AS Date))
INSERT [dbo].[NHANVIEN] ([MANV], [CMND], [TEN], [SDT], [GIOITINH], [DIACHI], [NGAYSINH]) VALUES (N'NV3', N'214785236', N'Hoàng Minh Thành', N'0963541254', N'Nam', N'Quận 10', CAST(0x4F260B00 AS Date))
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 06/05/2021 11:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](50) NOT NULL,
	[VAITRO] [bit] NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [VAITRO], [MANV], [TRANGTHAI]) VALUES (N'ADMIN', N'21232F297A57A5A743894A0E4A801FC3', 1, N'nv1', 1)
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [VAITRO], [MANV], [TRANGTHAI]) VALUES (N'nv3', N'B05711D9019C314ADA2F9A6213407989', 0, N'NV3', 0)
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [VAITRO], [MANV], [TRANGTHAI]) VALUES (N'nv4', N'202CB962AC59075B964B07152D234B70', 1, N'NV4', 1)
/****** Object:  Table [dbo].[DICHVU]    Script Date: 06/05/2021 11:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [varchar](10) NOT NULL,
	[TENDV] [nvarchar](100) NOT NULL,
	[MALOAIDV] [varchar](10) NOT NULL,
	[HINHANH] [nvarchar](100) NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_DICHVU_TENDV] UNIQUE NONCLUSTERED 
(
	[TENDV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [MALOAIDV], [HINHANH], [TRANGTHAI]) VALUES (N'LOAI11', N'Leagth Wares', N'LOAI1', N'/HINH_ANH/KIEU_TOC_NAM/18.jpg', 1)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [MALOAIDV], [HINHANH], [TRANGTHAI]) VALUES (N'LOAI110', N'Tóc Ngắn', N'LOAI1', N'/HINH_ANH/KIEU_TOC_NAM/23.jpg', 1)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [MALOAIDV], [HINHANH], [TRANGTHAI]) VALUES (N'LOAI111', N'Tóc Húi Cua', N'LOAI1', N'/HINH_ANH/KIEU_TOC_NAM/17.jpg', 1)
/****** Object:  Table [dbo].[HOADON]    Script Date: 06/05/2021 11:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](10) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[MAKH] [varchar](10) NOT NULL,
	[CHIETKHAU] [int] NULL,
	[TONGTIEN] [money] NOT NULL,
	[MANV] [varchar](10) NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [MAKH], [CHIETKHAU], [TONGTIEN], [MANV]) VALUES (N'HD1', CAST(0x0000ABB6013F2CEA AS DateTime), N'KH1', 0, 100000.0000, N'NV2')
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [MAKH], [CHIETKHAU], [TONGTIEN], [MANV]) VALUES (N'HD10', CAST(0x0000ABB401453E67 AS DateTime), N'KH10', 0, 50000.0000, N'NV2')
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [MAKH], [CHIETKHAU], [TONGTIEN], [MANV]) VALUES (N'HD100', CAST(0x0000ABB800CF7824 AS DateTime), N'KH1', 0, 50000.0000, N'nv1')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
/****** Object:  Table [dbo].[DONGIA]    Script Date: 06/05/2021 11:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONGIA](
	[MADV] [varchar](10) NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[DONGIA] [money] NOT NULL,
 CONSTRAINT [PK_DONGIA] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC,
	[THOIGIAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DONGIA] ([MADV], [THOIGIAN], [DONGIA]) VALUES (N'LOAI11', CAST(0x0000AD21012102FA AS DateTime), 50000.0000)
INSERT [dbo].[DONGIA] ([MADV], [THOIGIAN], [DONGIA]) VALUES (N'LOAI11', CAST(0x0000AD21013DD580 AS DateTime), 50000.0000)
INSERT [dbo].[DONGIA] ([MADV], [THOIGIAN], [DONGIA]) VALUES (N'LOAI11', CAST(0x0000AD2500C965DF AS DateTime), 50000.0000)
/****** Object:  StoredProcedure [dbo].[DOANH_THU_1THANG_TRONG_NAM]    Script Date: 06/05/2021 11:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DOANH_THU_1THANG_TRONG_NAM]
(@nam int, @thang int)
as
select SUM(x.TONGTIEN)
from 
(select *
from HOADON
where YEAR(NGAYLAP) = @NAM ) as x
where MONTH(x.NGAYLAP)= @thang
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 06/05/2021 11:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MAHD] [varchar](10) NOT NULL,
	[MADV] [varchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MADV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CT_HOADON] ([MAHD], [MADV], [SOLUONG]) VALUES (N'HD1', N'LOAI110', 1)
INSERT [dbo].[CT_HOADON] ([MAHD], [MADV], [SOLUONG]) VALUES (N'HD1', N'LOAI32', 1)
INSERT [dbo].[CT_HOADON] ([MAHD], [MADV], [SOLUONG]) VALUES (N'HD10', N'LOAI511', 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
/****** Object:  StoredProcedure [dbo].[MA_DICH_VU_MAX]    Script Date: 06/05/2021 11:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[MA_DICH_VU_MAX]
(@MALOAIDV VARCHAR(20) )
AS
select max (Y.x)
	from (select convert(int, substring(T.MADV, LEN(@MALOAIDV)+1, LEN(T.MADV)) ) as x
	from (SELECT *
	FROM DICHVU
	WHERE MALOAIDV=@MALOAIDV) AS T) AS Y
GO
/****** Object:  StoredProcedure [dbo].[LUOT_KHACH_1THANG_TRONG_NAM]    Script Date: 06/05/2021 11:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LUOT_KHACH_1THANG_TRONG_NAM]
(@nam INT, @thang INT)
AS
SELECT COUNT(x.MAHD)
FROM 
(SELECT *
FROM HOADON
WHERE YEAR(NGAYLAP) = @nam ) AS x
WHERE MONTH(x.NGAYLAP)= @thang
GO
/****** Object:  StoredProcedure [dbo].[THONG_KE_DOANH_THU_THEO_QUY]    Script Date: 06/05/2021 11:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[THONG_KE_DOANH_THU_THEO_QUY]
(@t1 int, @t2 int, @t3 int,@nam int )
as
select SUM(y.TONGTIEN), SUM(y.chietkhau), COUNT(y.MAHD)
from
(select x.MAHD, x.TONGTIEN, chietkhau = round(x.TONGTIEN*((1/(1-(CAST (x.CHIETKHAU AS float)/100)))-1),4)
from
(select *
from
(select *
from HOADON 
where year(NGAYLAP)=@nam) as t
where month(t.NGAYLAP)=@t1 or month(t.NGAYLAP)=@t2 or month(t.NGAYLAP)=@t3) as x) as y
GO
/****** Object:  StoredProcedure [dbo].[THONG_KE_DOANH_THU_THEO_NAM]    Script Date: 06/05/2021 11:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[THONG_KE_DOANH_THU_THEO_NAM]
(@nam int )
as
select SUM(y.TONGTIEN), SUM(y.chietkhau), COUNT(y.MAHD)
from
(select x.MAHD, x.TONGTIEN, chietkhau = round(x.TONGTIEN*((1/(1-(CAST (x.CHIETKHAU AS float)/100)))-1),4)
from
(select *
from HOADON 
where year(NGAYLAP)=@nam) as x) as y
GO
/****** Object:  StoredProcedure [dbo].[THONG_KE_DOANH_THU]    Script Date: 06/05/2021 11:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[THONG_KE_DOANH_THU]
(@tuNgay date, @denNgay date)
as
select SUM(y.TONGTIEN), SUM(y.chietkhau), COUNT(y.MAHD)
from
(select x.MAHD, x.TONGTIEN, chietkhau = round(x.TONGTIEN*((1/(1-(CAST (x.CHIETKHAU AS float)/100)))-1),4)
from
(select *
from HOADON 
where convert(varchar(10), NGAYLAP, 120) between @tuNgay and @denNgay) as x) as y
GO
/****** Object:  StoredProcedure [dbo].[LAY_MA]    Script Date: 06/05/2021 11:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LAY_MA]
@BANG VARCHAR(20)
AS
begin
IF @BANG = 'NHANVIEN'
	select max(y.x)
	from (select convert(int, substring(MANV,3, LEN(NHANVIEN.MANV)) ) as x
	from NHANVIEN) y
ELSE IF @BANG = 'LOAIDICHVU'	
	select max(y.x)
	from (select convert(int, substring(MALOAIDV,5, LEN(LOAIDICHVU.MALOAIDV)) ) as x
	from LOAIDICHVU) y
ELSE IF @BANG = 'KHACHHANG'	
	select max(y.x)
	from (select convert(int, substring(MAKH,3, LEN(KHACHHANG.MAKH)) ) as x
	from KHACHHANG) y
ELSE
	select max(y.x)
	from (select convert(int, substring(MAHD,3, LEN(HOADON.MAHD)) ) as x
	from HOADON) y
END
GO
/****** Object:  StoredProcedure [dbo].[THONG_KE_LOAI_DICH_VU_THEO_QUY]    Script Date: 06/05/2021 11:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[THONG_KE_LOAI_DICH_VU_THEO_QUY]
(@maLoaiDV varchar(10), @nam int, @t1 int, @t2 int, @t3 int)
as
select y.TENDV, phantram = round(CAST (y.t*100 AS float)/CAST (z.tong AS float),2)
from
(select dv.TENDV, x.t
from
(select madv, SUM (soluong) as t 
from CT_HOADON, (select s.MAHD
from
(select MAHD, NGAYLAP
from HOADON 
where YEAR(NGAYLAP)=@nam) as s
where month(NGAYLAP)= @t1 or month(NGAYLAP)= @t2 or month(NGAYLAP)= @t3)as hd
					where hd.MAHD = CT_HOADON.MAHD
group by madv) as x, DICHVU dv
where dv.MADV = x.MADV and dv.MALOAIDV = @maLoaiDV) as y,
 
 (select SUM(x.tong) as tong
from 
(select MADV, SUM (soluong) as tong 
from CT_HOADON, (select s.MAHD
from
(select MAHD, NGAYLAP
from HOADON 
where YEAR(NGAYLAP)=@nam) as s
where month(NGAYLAP)= @t1 or month(NGAYLAP)= @t2 or month(NGAYLAP)= @t3) as hd
where hd.MAHD = CT_HOADON.MAHD
group by madv) as x, DICHVU dv
where dv.MADV = x.MADV and dv.MALOAIDV = @maLoaiDV) as z
GO
/****** Object:  StoredProcedure [dbo].[THONG_KE_LOAI_DICH_VU_THEO_NAM]    Script Date: 06/05/2021 11:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[THONG_KE_LOAI_DICH_VU_THEO_NAM]
(@maLoaiDV varchar(10), @nam int)
as
select y.TENDV, phantram = round(CAST (y.t*100 AS float)/CAST (z.tong AS float),2)
from
(select dv.TENDV, x.t
from
(select madv, SUM (soluong) as t 
from CT_HOADON, (select MAHD
					from HOADON 
					where YEAR(NGAYLAP)=@NAM )as hd
					where hd.MAHD = CT_HOADON.MAHD
group by madv) as x, DICHVU dv
where dv.MADV = x.MADV and dv.MALOAIDV = @maLoaiDV) as y,
 
 (select SUM(x.tong) as tong
from 
(select MADV, SUM (soluong) as tong 
from CT_HOADON, (select MAHD
					from HOADON 
					where year(NGAYLAP)= @nam) as hd
where hd.MAHD = CT_HOADON.MAHD
group by madv) as x, DICHVU dv
where dv.MADV = x.MADV and dv.MALOAIDV = @maLoaiDV) as z
GO
/****** Object:  StoredProcedure [dbo].[THONG_KE_LOAI_DICH_VU]    Script Date: 06/05/2021 11:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[THONG_KE_LOAI_DICH_VU]
(@maLoaiDV varchar(10), @tuNgay date, @denNgay date)
as
select y.TENDV, phantram = round(CAST (y.t*100 AS float)/CAST (z.tong AS float),2)
from
(select dv.TENDV, x.t
from
(select madv, SUM (soluong) as t 
from CT_HOADON, (select MAHD
					from HOADON 
					where convert(varchar(10), NGAYLAP, 120) between @tuNgay and @denNgay) as hd
					where hd.MAHD = CT_HOADON.MAHD
group by madv) as x, DICHVU dv
where dv.MADV = x.MADV and dv.MALOAIDV = @maLoaiDV) as y,
 
 (select SUM(x.tong) as tong
from 
(select MADV, SUM (soluong) as tong 
from CT_HOADON, (select MAHD
					from HOADON 
					where convert(varchar(10), NGAYLAP, 120) between @tuNgay and @denNgay) as hd
where hd.MAHD = CT_HOADON.MAHD
group by madv) as x, DICHVU dv
where dv.MADV = x.MADV and dv.MALOAIDV = @maLoaiDV) as z
GO
/****** Object:  StoredProcedure [dbo].[loadDGganx]    Script Date: 06/05/2021 11:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[loadDGganx]
(@maDV varchar(10), @ngay SMALLDATETIME)
as

				
				
select dg.DONGIA
from
(select n.MADV, m.TG_GANNHAT
from 
(select z.MADV ,MIN(z.hieu) as gan 
from
(SELECT y.MADV , y.hieu
FROM (SELECT x.MADV, DATEDIFF(SECOND,x.THOIGIAN,@ngay)  as hieu
		FROM (select *
				FROM DONGIA
				where MADV = @maDV) as x) as y
where hieu>=0) as z
group by MADV)as n, (SELECT t.MADV, t.TG_GANNHAT, DATEDIFF(SECOND,t.TG_GANNHAT,@ngay)  as hieu
		FROM (select MADV, THOIGIAN as TG_GANNHAT
				FROM DONGIA
				where MADV = @maDV) as t) as m
where n.gan = m.hieu) as s, DONGIA dg
where s.TG_GANNHAT = dg.THOIGIAN and s.MADV = dg.MADV
GO
/****** Object:  StoredProcedure [dbo].[loadDG]    Script Date: 06/05/2021 11:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[loadDG]
@MADV varchar(10)
as
SELECT X.DONGIA, x.TG_GANNHAT
FROM (SELECT DG.MADV, DG.DONGIA, y.TG_GANNHAT
		FROM (select MADV, MAX(THOIGIAN) as TG_GANNHAT
				FROM DONGIA
				GROUP BY MADV) AS Y, DONGIA DG
		WHERE Y.MADV = DG.MADV AND Y.TG_GANNHAT = DG.THOIGIAN ) X
WHERE X.MADV = @MADV
GO
/****** Object:  Default [DF_KHACHHANG_DIEMTICHLUY]    Script Date: 06/05/2021 11:14:34 ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [DF_KHACHHANG_DIEMTICHLUY]  DEFAULT ((0)) FOR [DIEMTICHLUY]
GO
/****** Object:  Check [CK_KHACHHANG_DIEMTICHLUY]    Script Date: 06/05/2021 11:14:34 ******/
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACHHANG_DIEMTICHLUY] CHECK  (([DIEMTICHLUY]>=(0)))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KHACHHANG_DIEMTICHLUY]
GO
/****** Object:  Check [CK_NHANVIEN_GIOITINH]    Script Date: 06/05/2021 11:14:34 ******/
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NHANVIEN_GIOITINH] CHECK  (([GIOITINH]='NAM' OR [GIOITINH]=N'NỮ'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NHANVIEN_GIOITINH]
GO
/****** Object:  Check [CK_HOADON_CHIETKHAU]    Script Date: 06/05/2021 11:14:34 ******/
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON_CHIETKHAU] CHECK  (([CHIETKHAU]>=(0) AND [CHIETKHAU]<=(100)))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_HOADON_CHIETKHAU]
GO
/****** Object:  Check [CK_HOADON_TONGTIEN]    Script Date: 06/05/2021 11:14:34 ******/
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON_TONGTIEN] CHECK  (([TONGTIEN]>=(0)))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_HOADON_TONGTIEN]
GO
/****** Object:  Check [CK_DONGIA_DONGIA]    Script Date: 06/05/2021 11:14:34 ******/
ALTER TABLE [dbo].[DONGIA]  WITH CHECK ADD  CONSTRAINT [CK_DONGIA_DONGIA] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[DONGIA] CHECK CONSTRAINT [CK_DONGIA_DONGIA]
GO
/****** Object:  Check [CK_CT_HOADON_SOLUONG]    Script Date: 06/05/2021 11:14:36 ******/
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [CK_CT_HOADON_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [CK_CT_HOADON_SOLUONG]
GO
/****** Object:  ForeignKey [FK_TAIKHOAN_NHANVIEN]    Script Date: 06/05/2021 11:14:34 ******/
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_DICHVU_LOAIDICHVU]    Script Date: 06/05/2021 11:14:34 ******/
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DICHVU_LOAIDICHVU] FOREIGN KEY([MALOAIDV])
REFERENCES [dbo].[LOAIDICHVU] ([MALOAIDV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [FK_DICHVU_LOAIDICHVU]
GO
/****** Object:  ForeignKey [FK_HOADON_KHACHHANG]    Script Date: 06/05/2021 11:14:34 ******/
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
/****** Object:  ForeignKey [FK_HOADON_NHANVIEN]    Script Date: 06/05/2021 11:14:34 ******/
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_DONGIA_DICHVU]    Script Date: 06/05/2021 11:14:34 ******/
ALTER TABLE [dbo].[DONGIA]  WITH CHECK ADD  CONSTRAINT [FK_DONGIA_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DONGIA] CHECK CONSTRAINT [FK_DONGIA_DICHVU]
GO
/****** Object:  ForeignKey [FK_CT_HOADON_DICHVU]    Script Date: 06/05/2021 11:14:36 ******/
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_DICHVU]
GO
/****** Object:  ForeignKey [FK_CT_HOADON_HOADON]    Script Date: 06/05/2021 11:14:36 ******/
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
